* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: rgba(199, 199, 255, 0.689);
}

.manu {
	margin-right: 50px;
}

.logo {
	margin-left: 50px;
}

.home {
	margin-right: 40px;
}

.manu a {
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.manu a:hover {
	color: rgb(73, 73, 73);
}

.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	width: 300px;
	margin: 20px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
	width: 100%;
	height: auto;
}

.card-content {
	padding: 20px;
}

.card-content h2 {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.price {
	color: #333;
	font-size: 1rem;
	margin-bottom: 10px;
}

.add-to-cart {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
}

.add-to-cart:hover {
	background-color: #0056b3;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#cart h2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 35px;
}

.pro-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

th {
	background-color: #ccc;
	text-align: left;
	padding: 10px;
}

table {
	width: 80%;
	border-collapse: collapse;
}

table td input {
	width: 70px;
	padding: 10px;
}

td {
	padding: 10px;
}

#product-info img {
	width: 80px;
}

#product-info {
	display: flex;
	align-items: center;
	width: 100px;
}

#product-name {
	padding-left: 50px;
}

.cart-total {
	width: 200px;
	border: 2px solid black;
	padding: 20px;
	/* display: flex; */
	/* align-items: end; */
	/* justify-content: end; */
}

#cart-total {
	position: absolute;
	right: 10%;
	margin-top: 50px;
}

.total {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.actual-price {
	color: red;
}

.fa-xmark {
	background-color: #ccc;
	padding: 10px;
	border-radius: 50%;
}

.fa-xmark:hover {
	background-color: #cecece57;
	cursor: pointer;
}

.manu {
	display: flex;
	align-items: center;
}

.cart-icon {
	display: flex;
	gap: 5px;
}
